# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# build
bin/

README.md

# IDE
.idea/

# Python
example_models/env
example_models/MNIST_data
example_models/checkpoints
example_models/.ipynb_checkpoints